.cat-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 5% 0 0 5%;
}

.cat-card {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 100px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 30px;
}

.cat-card .text{
    font-size: 30px;
}

.cat-card:hover{
    background-color:#66FCF1 !important;
    border: 1px solid #45A29E;
}

.cat-card:hover .text {
    color: #0B0C10 !important;
    font-weight: bold;
}

.link {
    text-decoration: none;
}