.tar-display{
  overflow-y: auto !important;
  max-height: 100vh;
}

.tar-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  overflow-y: auto !important;
}

.ex-card {
  height: 260px;
  width: 260px;
  display: flex;
  align-items: center;
  margin: 10px;
  border: 1px solid #45A29E;
}

.small-card:hover {
    cursor: pointer;
}

.card-gif {
  height: 220px;
  width: 210px;
}

.card-text {
    text-transform: capitalize;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 90%;
    color: #66FCF1 !important;
    font-weight: 600;
  }

.tar-title{
  text-transform: capitalize;
  color: #66FCF1;
}